# Ignorar archivos ejecutables
*.exe
*.bin

# Ignorar archivos de sistema
.DS_Store       # Archivos de macOS
.thumbs.db      # Archivos de Windows

# Ignorar carpetas de dependencias
node_modules/   # Si usas JavaScript
__pycache__/    # Si usas Python
*.pyc           # Archivos compilados de Python

# Ignorar archivos específicos (opcional)
invertir.exe
prueba.exe
tabulacion.exe